<footer>
	<div class="container">
		<div class="row-fluid">
			
			<div class="span4 pvn">
				<h3>Acerca de mi</h3>
				<p>Soy solo un amante de las tecnolog&iacute;as web, a las cuales me dedico hace casi 10 años. Sigueme en Twitter <a href="https://twitter.com/EmiViada" title="EmiViada en Twitter" target="_blank">@EmiViada</a></p>
			</div>

			<div class="span4 pvn">
				<h3>Contacto</h3>
				<p>Si deseas contactar me no dudes en escribir a emjovi[at]gmail[dot]com.</p>
			</div>

			<div class="span4 pvn">
				<h3>Hasheado stack</h3>
				<p>
					<a href="http://symfony.com" title="Symfony" target="_blank">Symfony</a> &nbsp;
					<a href="http://www.doctrine-project.org" title="Doctrine" target="_blank">Doctrine</a> &nbsp;
					<a href="http://jquery.com" title="JQuery" target="_blank">JQuery</a> &nbsp;
					<a href="http://www.w3.org/TR/html5/" title="HTML5" target="_blank">HTML5</a> &nbsp;
					<a href="http://www.w3schools.com/css/css3_intro.asp" title="CSS3" target="_blank">CSS3</a>
				</p>
			</div>

		</div>
	</div>
	<p class="footer-link">
		&copy; {{ "now"|date("Y") }} - {{ blog_title }} - 
		Powered by <a href="http://symfony.com" target="_blank">Symfony2</a>
	</p>
</footer>