{% extends '::base.html.twig' %}

{% block title %}
	{% if page_title is defined %} {{ page_title }} | {% endif %} Hasheado Blog
{% endblock %}

{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% stylesheets 
		'bundles/hasheadoblog/bootstrap/css/bootstrap-responsive.min.css'
		'bundles/hasheadoblog/bootstrap/css/bootstrap-classic.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shCore.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shCoreDefault.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shThemeRDark.css'
		'bundles/hasheadoblog/css/main.css'
		'bundles/hasheadoblog/css/spaces.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />

	{% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
	
	<div class="row-fluid">

		<!-- Header nav -->
		{% include 'HasheadoBlogBundle::_header_nav.html.twig' %}

		<div class="container" id="container">

			<div class="row-fluid">

				<!-- Main content -->
				<div class="span8 clearfix">
					{% block content %}{% endblock %}
				</div>

				<!-- Sidebar -->
				<aside class="span4 rightbar">
					{% include 'HasheadoBlogBundle::_sidebar.html.twig' %}
				</aside>
				
			</div>

		</div> <!-- END main container -->

		<!-- Footer -->
		{% include 'HasheadoBlogBundle::_footer.html.twig' %}

	</div>

{% endblock %}

{% block javascripts %}
	{% javascripts 'bundles/hasheadoblog/bootstrap/js/bootstrap.min.js'
				   'bundles/hasheadoblog/bootstrap/js/bootstrap-modal.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shCore.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushJScript.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushPhp.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushBash.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushCss.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushPlain.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushSql.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushXml.js'
				   'bundles/hasheadoblog/js/hasheado-blog.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>

	{% endjavascripts %}
{% endblock javascripts %}
